body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lampada{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lampada a{
    font-size: 2vw;
    font-weight: bold;
    padding: 2vw;
    border-radius: 1vw;
    background-color: rgb(255, 219, 219);
}

a:hover{
    cursor: pointer;
    color: rgb(88, 75, 75);
}

